body {
	color: black;
		background-color: rgb(230, 230,230);
	font-family: helvetica;
	font-weight: lighter; 
}
h1 {
	color: #c77316
	font-weight:bold;
	letter-spacing: px;
	font-size: 40px
	font-family: 'Roboto Condensed',sans-serif;
}
h2 {
	color: #251696;
	font-size:25px
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #5f2c84;
	font-weight: bold;
}
a:hover {
	color: white;
}
.img-circle {
	border-radius: 50%;
}
.shadowed {
	box-shadow: 3px 3px 3px grey;
}
.container {
	width: 700px;
	margin: 40px auto;
}
.card-white {
	background-color: white;
	padding:40px;
	box-shadow: 8px 10px 30px rgba(0,0,0,1)
	border-radius: 4px;
	margin: 20px 8px;
	text-align: center;
}
.btn-blue {
	background-color: black;
	color: white;
}
.btn-blue:hover {
	background-color: #251696
	color: white;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230);
}
.list-inline i:hover {
	font-size: 50px;
	color:black;
}
#introduction p{
	margin-bottom: 40px;
}
Écrivez un message...
